@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Poppins";
}



.app-container {
  width: 100%;
  margin: 10px 0px 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}

.register--container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
  height: 280px;

  border: 4px solid black;
  border-radius: 30px;



}