.standImg{


    width: 400px;
    height: 250px;
    object-fit: cover;



}

.swiperMaster{
    margin: 15px 0;
}



@media only screen and (max-width: 1024px) {

    .standImg{


        width: 230px;
        height: 180px;
        object-fit: cover;
    
    
    
    }


}