* {

    font-weight: 500;
    font-style: normal;



}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--bgDark);

    border-bottom: 2px solid var(--verdeClaro); /* largura e estilo da linha */
    

    

}

nav a {

    margin: 0 2rem;
    color: var(--verdeClaro);
    text-decoration: none;
    font-size: 1.3rem;
    

}


nav a:hover {


    color: var(--bgDark);

    font-weight: bold;

    padding: 12px;
    border-radius: 8px;

    background-color: var(--verdeClaro);
    cursor: pointer;
}

header img {

    width: 120px;



}

header .nav-btn {

    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--verdeClaro);
    display: none;
    opacity: 0;
    font-size: 1.5rem;



}


.login-button{

    width: auto;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid white;
    font-size: 15px;
}

.login-button:hover{

    width: auto;
    text-align: center;
    background-color: white;
    color: var(--verdeEscuro);
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
}

@media only screen and (max-width: 1024px) {

    header .nav-btn {
        
        display: block;
        opacity: 1;
        


    }

    header nav {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--bgDark);
        color: var(--bgDark);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 999;


    }

    header .responsive_nav{

        transform: none;        

    }

    header .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;


    }

    nav a{
        font-size: 1.5rem;
    }


}