html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #121212;
}


section {

  color: var(--fontWhite);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;


}



main {

  background-color: #121212;

}

.degrade {

  background-image: linear-gradient(to right, var(--verdeEscuro), #00ff00);
  height: 3px;
  width: 50vw;

}


.titulo {

  font-size: 35px;
  color: var(--verdeClaro);
  border-bottom: 2px solid var(--verdeClaro);
  padding-bottom: 10px;


}



.container-geral {



  width: 10%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;



}

.alteracao {

  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;



}

h1 {

  color: white;
  margin: 0 auto;
}