
html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #121212;
}

main{

  background-color: #121212;
}



.container-geral{
  


  width: 10%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;



}

.alteracao{

  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;



}

h1{

  color: white;
  margin: 0 auto;
}